<script>
    document.getElementById("modalButton").click();
</script>
<button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" id="modalButton" style="display: none;">
    Launch demo modal
</button>  
<div class="modal" id="exampleModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title">
                    QR reading complete
                    <i class="bi bi-check-circle text-success"></i>
                </h5>
                <p>{{ n_complete }} pages passed all validation checks and can be pushed.</p>
                <a 
                    class="btn text-start" 
                    style="background-color: lightgrey;"
                    hx-post="{% url 'scan_push_all' timestamp %}"
                >
                    <i class="bi bi-check-all"></i>
                    Push all ready pages
                </a>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" data-bs-dismiss="modal">OK</a>
            </div>
        </div>
    </div>
</div>